{% extends '::base.html.twig' %}

{% block menu %}
    {{ knp_menu_render('FrontBundle:Main:mainMenu') }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% stylesheets 'bundles/common/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}